{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>Redactors list <a class="btn btn-primary" style="float: right" href="{% url "newspaper:redactor-create" %}">+</a></h1>

  <form action="" method="get">
  {{ search_form|crispy }}
  <br>
  <input type="submit" value="🔍" class="btn btn-outline-secondary">
  </form>
  <br>

  {% if redactor_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Years of experience</th>
        <th>Update</th>
        <th>Delete</th>
      </tr>
      {% for redactor in redactor_list %}
        <tr>
          <td><a href="{% url "newspaper:redactor-detail" pk=redactor.id %}"> {{ redactor.id }}</a></td>
          <td>{{ redactor.username }}</td>
          <td>{{ redactor.years_of_experience }}</td>
          <td><a href="{% url "newspaper:redactor-update" pk=redactor.id %}">Update</a></td>
          <td><a href="{% url "newspaper:redactor-delete" pk=redactor.id %}">Delete</a></td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p>There are no redactors</p>
  {% endif %}
{% endblock %}
